<h3>Grape Example App</h3>
<p><%= link_to 'Products:', products_path %> <%= Product.count %> registered</p>
<p><%= link_to 'Reviews:', reviews_path %> <%= Review.count %> registered</p>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
