<% if user_signed_in? %>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Reviews', reviews_path %></li>
  <li><%= link_to 'API Doc', '/documentation' %></li>
<% end %>
<li><%= link_to 'About', about_path() %></li>

<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
